@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Guerrilla&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: #7064a360; 
    min-width: 300px;
    max-width: 1000;
    width: 700;
}

header{
    background-image: linear-gradient(to bottom, #822fa8, #8643c5, #42117a);
    min-height: 160px;
    text-align: center;
    padding-top: 50px;
    min-width: 300px;
    margin: 0px;
    padding-bottom: 20px;
    
    
}

header > h1{
    color: #f9fcfa;
    font-family:'Bebas Neue', cursive;
    margin-bottom: 20px;
    font-size: 3.0em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
    font-weight: normal;

}


main{
    background-color: rgb(255, 255, 255);
    border-radius: px;
    box-shadow: 5px 5px 15px #312b27b0;
    max-width: 1000px ;
    min-width: 300;
    padding: 22px;
    margin: auto ;
    padding-top: 20;

}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.5em;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    font-style: italic;
    color: #121414;
    text-align: center;
    text-shadow: 1px 1px 2px #6D59C0; 
    text-justify: auto;
}

h2{
    color: #232227;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

li{
    font-size: 1.8em;
}

p {
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-style: teko;
    text-justify: auto;
}
img{
    width: 58px;
    

}

div{
    margin: auto;
}

a{
    color: rgb(137, 97, 231);
    text-decoration: none;
    font-weight: bold;
}



footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

footer a{
    color: #ffffff;  
    font-weight: bold; 
    text-decoration: none;
  }
footer p{
    color: #ffffff;
    text-align: center;
}