@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Guerrilla&display=swap');


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(137, 11, 175, 0.5);
    min-width: 300px;
    max-width: 1000;
}

main{
    background-color: aliceblue;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(29, 28, 28, 0.644);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: 500;
}

main a:hover{
    text-decoration: underline;
    color: #300630;
}

.hero-imagens-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens se movam para a próxima linha */
    justify-content: center; /* Centraliza as imagens */
    gap: 8px; /* Espaçamento entre as imagens */
    background-color: #333;
    padding: 10px;
    border-radius: 5px 4px;
    
}

.hero-imagens-container figure {
    margin: 0; /* Remove margens padrão do figure */
    flex: 0 1 calc(30% - 10px); /* Define a largura da imagem (4 imagens por linha) */
    box-sizing: border-box; /* Inclui padding e border na largura */
}

.hero-imagens-container img {
    width:100%; /* Imagem ocupa 100% do seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona cantos arredondados, opcional */
}




header{
    background-image: linear-gradient(to bottom, #822fa8, #8643c5, #42117a);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    min-width: 300px;
    
}

header > h1{
    color: #f9fcfa;
    font-family:'Bebas Neue', cursive;
    margin-bottom: 20px;
    font-size: 3.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
    font-weight: normal;

}

header > p{
    color: #ffffff;
    font-family:  Arial, Verdana, Helvetica, sans-serif;
    font-size: 1.5em;
    width: auto;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
    padding-bottom: 50px;

}
nav{
    background-color: #3a1379f5;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.521);

}
nav > a{
    color: #f1eef1;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}
nav > a:hover{
    background-color: #7b5ee4;
    color: #ce8ae2;
}



section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}





footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

footer a{
    color: #ffffff;  
    font-weight: bold; 
    text-decoration: none;
  }